* {
margin: 0;
padding: 0;
line-height: 1em;
vertical-align: baseline;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#index {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
}
table p {
    text-align: center;
}
